<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-3.2.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd">

	<!--
	Setup Spring MVC annotation scanning capability which allows to make use of annotations 
	like @Controller, @RequestMapping etc.
	-->
	<context:component-scan base-package="com.labs.hpe.service.controller" />
	
	
	<mvc:resources mapping="/resources/**" location="/resources/" />

	<!-- 
	Registers the DefaultAnnotationHandlerMapping and AnnotationMethodHandlerAdapter beans 
	that are required for Spring MVC to dispatch requests to @Controllers.
	By default, support for reading and writing JSON, if Jackson is present on the classpath, among others (see Spring docs).
	-->
	 <mvc:annotation-driven />
	
	<!-- <bean id="CoordinatorController" class="com.hpl.hp.service.controller.CoordinatorController" init-method="initCoordinatorThread"/>  -->
</beans>
