<div id="aboutDiv" class="row row-centered" style="margin-top:1rem;">
	<div class="row">
		<div class="col-md-3 col-xs-6 col-centered">		
			<h3 style="text-align:left;">GitHub</h3>
			<ul style="text-align: left;">
			  <li>LSGi Repo <a href="https://github.hpe.com/labs/LSGi">Link</a></li>
			</ul>	
		</div>	
	</div>
	
	<br>
	<br>
	<br>
	
	<div class="row">
		<div class="col-md-3 col-xs-6 col-centered">	
			<h3 style="text-align:left;">Demo Videos</h3>
			<ul style="text-align: left;">
			  <li>[ Superdome X | 1B | 16 nodes ] <a href="http://mercoop-26.hpl.hp.com/LSGiVideo/LSGiWebConsole_SDX_1B_16.mp4">Watch video</a></li>
			  <li>[ Superdome X | 200M | 16 nodes ] <a href="http://mercoop-26.hpl.hp.com/LSGiVideo/LSGiWebConsole_SDX_200M_16.mp4">Watch video</a></li>
			  <li>[ Superdome X | 20M | 16 nodes ] <a href="http://mercoop-26.hpl.hp.com/LSGiVideo/LSGiWebConsole_SDX_20M_16.mp4">Watch video</a></li>
			  <li>[ Superdome X | 2M | 16 nodes ] <a href="http://mercoop-26.hpl.hp.com/LSGiVideo/LSGiWebConsole_SDX_2M_16.mp4">Watch video</a></li>		  
			  <li>[ QEMU | 2M | 10 nodes ] <a href="http://mercoop-26.hpl.hp.com/LSGiVideo/LSGiWebConsole_QEMU_2M_10.mp4">Watch video</a></li>
			  <li>[ TMAS | 2M | 40 nodes ] <a href="http://mercoop-26.hpl.hp.com/LSGiVideo/LSGi_TMAS_demo.mp4">Watch video</a></li>			  
			</ul>
		</div>
	</div>
</div>